.sendButton {
  font: inherit;
  font-size: 20px;
  background: #40bb98;
  color: rgb(235, 255, 253);
  padding: 0.7em 0.9em 0.7em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.sendButton span, .sendButton svg {
  display: block;
  transition: all 0.3s ease-in-out;
}

.sendButton span {
  margin-left: 0.3em;
}

.sendButton svg {
  transform-origin: center;
}

.sendButton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.sendButton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.sendButton:hover span {
  transform: translateX(5em);
}

.sendButton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from { transform: translateY(0.1em); }
  to { transform: translateY(-0.1em); }
}

/* Loading animation */

.chatLoader {
  width: 35px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#fff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

.darkChatLoader {
  margin-top: 4px;
  width: 35px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#202020 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.circleChatLoader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(229, 229, 229);
  border-right-color: rgb(188, 188, 188);
  animation: l2 1s infinite linear;
}

@keyframes l2 {to{transform: rotate(1turn)}}